<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Regression Suite">
    <listeners>
        <listener class-name="OrangeHRM.listeners.AllureListener" />
    </listeners>
    <suite-files>
        <suite-file path="src/test/resources/suites/OrangeHRM_01_VerifyLoginFunctionality.xml" />
        <suite-file path="src/test/resources/suites/OrangeHRM_02_VerifyLogoutFunctionality.xml" />
        <suite-file path="src/test/resources/suites/OrangeHRM_03_EmployeeFunction.xml" />
        <suite-file path="src/test/resources/suites/OrangeHRM_04_AdminFunction.xml" />
    </suite-files>
</suite>